<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link href = "/static/css/style.css" rel="stylesheet">
</head>
<body>
    <h1 class="big_header"> About Me: Jacob Korba</h1>
    <!-- This is some important academic information, like my majors and some courses I've taken -->
    <h2>Business Student at the University of Maryland</h2>
    <p>I am a senior <strong>Information Systems</strong> and <strong>Finance</strong> double degree student at the University of Maryland. My current courseload is as follows:</p>
    <ul>
        <li>BMGT 347</li>
        <li>BMGT 404</li>
        <li>BMGT 407</li>
        <li>BMGT 408</li>
        <li>BMGT 445</li>
    </ul>
    <table title="Prior Course Load">
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT 402</td>
            <td>Fall Junior Year</td>
        </tr>        <tr>
            <td>BMGT 403</td>
            <td>Spring Junior Year</td>
        </tr>
        <tr>
            <td>BMGT 406</td>
            <td>Fall Senior Year</td>
        </tr>
    </table>
    <!-- This is some important professional information, like experience and desired working lcoation -->
    <h2>Working Experience</h2>
    <p>I am currently working as a Co-Op at the <em>Nuclear Regulatory Commission</em> working on contracts. I have also worked at <em>Maxim Healthcare Staffing</em> as an accounts manager. My preferred cities to work in are as follows:</p>
    <ol>
        <li>Bethesda</li>
        <li>Rockville</li>
        <li>Baltimore</li>
        <li>Alexandria</li>
    </ol>
    <!-- These are two of my favorite websites that might help to get to know me -->
    <p>Here are a couple of my favorite websites</p>
    <a href="https://www.baltimoreravens.com/" target="_blank">My favorite Football Team's Website</a>
    <a href="https://umterps.evenue.net/signin?uf=ST&ui=SHO&continue=%2Fcgi-bin%2Fncommerce3%2FSEGetGroupList%3FlinkID%3Dumd%26groupCode%3D%26RSRC%3D%26RDAT%3D%26shopperContext%3DST">Maryland Student Ticket Website</a>
    <a href="/hello">This is my Hello site</a>
    <img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width = "267" height = "72" alt="Smith Logo">

    <p id="p3">CSS is awesome and not tedious in any way!!</p>

</body>
</html>